[submodule "uxservices-web-react-app-template"]
	path = uxservices-web-react-app-template
	url = https://github.com/Orangestack-com/uxservices-web-react-app-template
[submodule "uxservices-web-react-beagle-plugin"]
	path = uxservices-web-react-beagle-plugin
	url = https://github.com/Orangestack-com/uxservices-web-react-beagle-plugin
[submodule "uxservices-web-react-citric-plugin"]
	path = uxservices-web-react-citric-plugin
	url = https://github.com/Orangestack-com/uxservices-web-react-citric-plugin
[submodule "uxservices-web-react-i18n-plugin"]
	path = uxservices-web-react-i18n-plugin
	url = https://github.com/Orangestack-com/uxservices-web-react-i18n-plugin
